 nav {
 
    padding: 0.7rem 1.7rem;
    gap: 1rem;
    z-index: 4;
    position: fixed;
    height: 60px;
    top: 0;
    width: 100%;
}
.light nav {
  box-shadow: 2px 2px 7px -3px #c8c8c8;
  background-color: var(--color-white);
}
.dark nav {
  box-shadow: 2px 2px 7px -3px #c8c8c8;
  background-color: var(--color-black);
}
.light .text-custom{
  color: var(--color-black);
}
.dark .text-custom{
  color: var(--color-white);
}
.icon-btn{
  padding: 7px;
  width: 30px;
  border-radius: 50%;
  height: 30px;
}
.light .icon-btn{
  background-color: var(--color-grey);
}
.dark .icon-btn{
  background-color: #fff;
}
.menu {
    display: flex;
    justify-content: space-between;

}

.hamburger {
    background: none;
    color: var(--color-primary);
    font-size: 1.2rem;
    position: absolute;
    right: 25px;
    display: none;
}
.hamburger:hover {
   color:  var(--color-black) !important;
  }
  .show-ipad{
    display: none;
  }
  @media screen and (max-width: 768px) {
    .show-ipad{
        display: block;
      }
    /* .hamburger {
        display: block;
      z-index: 2;
      }
      .menu{
        transform: translatex(100%);
      }
   
      .menu.active{
        transform: translatex(0);
      }
      .menu {
        position: fixed;
        top: 60px;
        padding-top: 20px;
        left: 0;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: calc(100vh - 60px);
        background-color: var(--color-white);
    }
    .menu > div {
        display: flex;
        flex-direction: column;
        align-items: center;
    } */
    .menu-link{
        display: none!important;
        }
  }
nav a {
   transition:none;
    font-size: 1.1rem;
    /* border-radius: 50%; */
    padding: 0 0.5rem 0.2rem;
    cursor: pointer;
}

nav a.active {
    color: var(--color-primary) !important;
    /* background: var(--color-primary); */
}

nav a:hover {
    color: var(--color-primary) !important;
}

.btn-outline {
    padding: 0 !important;
    border: none ;

}

.btn-outline:hover {
    padding: 0 !important;
    border: none ;
    color: var(--color-black) !important;
    background: none !important;
}