.dashboard-container{
    display: flex;
    /* margin-top: 60px; */
}

.dashboard-content{
    padding: 20px 40px;
    margin: 60px auto;

}
.createproject{
    height: auto!important;
    margin-top: 30px;
}
.dashboard-avater{
    height: 90px;
}
.rdt_TableHead,.rdt_TableBody{
    overflow: scroll;
}