.certifications-container {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, 600px); */
    justify-content: center;
    gap: 2rem;
    padding-bottom: 4rem;
    
  }

  .certifications-card {
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;

    box-shadow: 2px 3px 8px -4px var(--color-primary);
    transition: var(--transition);
    position: relative;
  }