header{
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
    /* background-image: url('../../../src/assets/buoy.svg');
    background-size: cover; */
}
.header-container{
 text-align: center;  
 height: 100%;
 width: 85%;
 position: relative;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
 text-align: left;
 gap: 5rem;
}
.cv{
    margin-top: 2.5rem;
    display: flex;
    gap: 1rem;

}
.header-social{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: fixed;
    left: 0;
    bottom: 40%;
    margin-left: 1rem;
    z-index: 222;
    font-size: 1.3rem;
}
.header-social a{
    color:var(--color-light);
}
.header-social::after{
    content: '';
    width: 1px;
    height: 2rem;
    background-color:var(--color-light);
}
.me{
    background: var(--color-primary);
    width: 22rem;
    background-color:linear-gradient(var(--color-primary), transparent) ;
    overflow: hidden;
}
.scrol-down{
    position: absolute;
    right: 0.5rem;
    bottom: 40%;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}
.scroll-top{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    font-size: 2.5rem;
    z-index: 222;
    color: var(--color-white)!important;
}

/*---------------media queries-----------------*/
@media screen and (max-width:680px) {
  .header-social,.scrol-down{
    display:none;
}
.scroll-top{
    bottom: 1.5rem;
    right: 1.5rem;
}
}
@media screen and (orientation:landscape) and  (max-width:900px) {
    header{
        height: 200vh;
    }
  }