.contact-container {
    padding-bottom: 4rem;
}
.contact-container  form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin: auto;
}
.contact-container input,
.contact-container textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 1px solid var(--color-primary);
    resize: none;
    color: var(--coloe-white);
}
.contact-container button{
    width: fit-content;
}