.register-container {
    margin-top: 80px;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.register-container h1{
    text-align: center;
    margin-bottom: 1rem;
}
.form-container{
padding: 2rem;
box-shadow:2px 2px 7px -3px var(--color-primary);
border-radius: 0.5rem;
display: flex;
align-items: center;
flex-direction: column;
background: var(--bg-color-varient);
}
.register-container form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin: auto;
}
.register-container input {
    width: 100%;
    padding: 1.2rem;
    padding-left: 1.5rem;
    background: transparent;
    border-bottom: 1px solid var(--color-primary);
    resize: none;
    color: var(--coloe-white);
    transition: var(--transition);
}
.register-container input:focus {
    border-bottom: 1px solid var(--color-white);
}
.register-container button {
    margin-top: 1.5rem;
    padding: 1.1rem;
}
.register-container .wrap{
    position: relative;
}
.register-container .icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

}
@media screen and (max-width: 668px){
    .register-container {
        margin-top: 12rem;
    }
}
@media only screen and (max-width: 580px){
.register-container {
    margin-top: 4rem;
}
}