nav {
    background: #0e011b;
    display: flex;
    width: max-content;
    padding: 0.7rem 1.7rem;
    gap: 1rem;
    z-index: 2;
    position: fixed;
    bottom: 2rem;
    transform: translateX(-50%);
    border-radius: 3rem;
    left: 50%;
    box-shadow: 2px 2px 7px -3px var(--color-primary-light);
}

nav a {
    color: var(--color-primary) !important;
    transition: var(--transition);
    font-size: 1.1rem;
    border-radius: 50%;
    padding: 0 0.5rem 0.2rem;
}

nav a.active {
    color: var(--color-white) !important;
    background: var(--bg-color);
}

nav a:hover {
    color: var(--color-white) !important;
}

.btn-outline {
    padding: 0 !important;
    border: none !important;

}

.btn-outline:hover {
    padding: 0 !important;
    border: none !important;
    color: var(--color-white) !important;
    background: none !important;
}